.img-grid {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  align-items: stretch;
  justify-items: stretch;
}

.img-item {
  position: relative;
}

.img-item > button {
  position: absolute;
  top: 0;
  right: 0;
}

.img-item > img {
  max-height: 200px;
}
