.img-grid {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  align-items: stretch;
  justify-items: stretch;
}

.img-item {
  display: flex;
  flex-direction: column;
}

.img-item > img {
  max-height: 200px;
}
